<div class="bg-[#000] w-full rounded-xl p-5">
  <div class="flex flex-col gap-0">
    <span class="text-sm"><%= note.category.name %></span>
    <h2 class="text-2xl font-semibold"><%= note.title %></h2>
  </div>
  <article>
    <%= note && note.content ? (note.content.length > 50 ? note.content.substring(0, 50) + '...' : note.content) : '-' %>
  </article>
  <div class="flex flex-row justify-end gap-3">
    <a class="duration-75 hover:text-white" href="/note/<%= note._id %>" target="_self"><i class="fas fa-eye"></i></a>
    <a class="duration-75 hover:text-white" href="/note/<%= note._id %>/edit"><i class="fas fa-pencil"></i></a>
    <form action="/notes/<%= note._id %>/delete" method="POST">
      <button class="duration-75 hover:text-white" type="submit"><i class="fas fa-trash"></i></button>
    </form>
  </div>
</div>