<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('includes/head', { title: 'View Note' }) %>
  <link rel="stylesheet" href="/styles/posts.css">
</head>

<body>
  <div class="">
    <%- include('includes/navbar') %>
    <main style="margin-left: 17%;" class="px-8" id="all-posts">
      <%- include('includes/header', {title: "Detail Notes"}) %>

      <div>
        <div class="flex items-start">
          <div style="flex: 1">
            <h1 class="text-3xl font-semibold"><%= note.title %></h1>
            <span class="text-base font-light"><%= note.category.name %></span>
          </div>
          <div class="flex gap-4">
            <a title="back" class="duration-75 hover:text-white" href="/"><i class="fas fa-arrow-left"></i></a>
            <a class="duration-75 hover:text-white" href="/note/<%= note._id %>/edit"><i class="fas fa-pencil"></i></a>
            <form action="/notes/<%= note._id %>/delete" method="post">
              <button class="duration-75 hover:text-white" type="submit"><i class="fas fa-trash"></i></button>
            </form>
          </div>
        </div>
        <article class="mt-5">
          <%= note.content != null ? note.content : "No Content Available" %>
        </article>

      </div>

    </main>
  </div>
</body>

</html>